<form class="navbar-form pull-left form-inline">
  {{#view Inbox.FilterRadioButtonGroup valueBinding="selectedFilter"}}
    {{#each filters}}
      <label>
        {{label}}
        {{view view.RadioButton value=value}}
      </label>
    {{/each}}
  {{/view}}
</form>
