{{#unless isUpdating}}
  <ul>
  {{#each message in filteredContent}}
    <li>
      <a {{action showMessage message href=true}}>{{message.subject}}</a>
      <br />
      {{message.teaser}}
    </li>
  {{/each}}
  </ul>
{{else}}
  <p>Loading...<p>
{{/unless}}
